body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f78215;
}

header{
    justify-content: center;
    text-align: center;
}

h2 {
    color: #050505;
}

p {
    color: #050505;
    font-size: large;
}

h4 {
    color: #050505;
    font-weight: normal;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

@media only screen and(max-width:650) {
    h4 {
        display: block;
        width: 50px;
        overflow-wrap: break-word;
        margin-top: 10px;
    }
}
